<div class="home__container">
	<app-card
		gameCover="assets/fifa.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 358,90"
	>
	</app-card>
	<app-card
		gameCover="assets/HOGWART_4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4 PS5"
		gamePrice="R$ 299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 102,92"
		>
	</app-card>
	<app-card
		gameCover="assets/street.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 279,50"
	>
	</app-card>
	<app-card
		gameCover="assets/ghost.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 349,90"
	>
	</app-card>
	<app-card
		gameCover="assets/god.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 99,50"
	>
	</app-card>
	<app-card
		gameCover="assets/spider man.avif"
		gameLabel="PRÉ SALE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 349,90"
	>
	</app-card>
	<app-card
		gameCover="assets/gta.webp"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 53,95"
	>
	</app-card>
	<app-card
	gameCover="assets/MIRAGE.avif"
	gameLabel="NEW"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ 239,90"
>
</app-card>
<app-card
	gameCover="assets/cyberpunk.jpg"
	gameLabel="EXCLUSIVE"
	gameType="DISC | PS4 PS5"
	gamePrice="R$ 249,50"
>
</app-card>
<app-card
	gameCover="assets/ragnarok.webp"
	gameLabel="BEST OF YEAR"
	gameType="DIGITAL | PS5"
	gamePrice="R$ 349,90"
	>
</app-card>
<app-card
	gameCover="assets/nba.avif"
	gameLabel="NEW"
	gameType="DIGITAL | PS4 PS5"
	gamePrice="R$ 349,00"
>
</app-card>
</div>
